@import "variables";
@import "normalize";
$material-icons-font-path: '~material-icons/iconfont/';

@import '~material-icons/iconfont/material-icons.scss';

.btn{
  padding: $padding $padding*2;
  background: $maincolor;
  color: white;
  border: 0;
  border-radius: $radius;
  cursor: pointer;
}
